<link rel="icon" href="assets/images/tab.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/animate.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/slick.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/slick-theme.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/jquery-ui.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/jquery.timepicker.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/meanmenu.min.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" type="text/css" media="all" />

    <link rel='stylesheet' href='assets/css/icofont.min.css' type="text/css" media="all" />

    <link rel='stylesheet' href='assets/css/flaticon.css' type="text/css" media="all" />

    <link rel='stylesheet' href='assets/css/settings.css' type="text/css" media="all" />
    <link rel='stylesheet' href='assets/css/layers.css' type="text/css" media="all" />
    <link rel='stylesheet' href='assets/css/navigation.css' type="text/css" media="all" />

    <link rel='stylesheet' href='assets/css/jquery-jvectormap-2.0.5.css' type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/responsive.css" type="text/css" media="all" />

    <link rel="stylesheet" href="assets/css/theme-dark.css" type="text/css" media="all" />
    <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->